/* Problem 1 */

.container {
  display: grid;
  grid-template-columns: 100%;
  width: min(70%, 375px);
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}
.container > figure > img {
  width: 100%;
}

/* Problem 2 */

@media only screen and (min-width: 650px) {
  .jump:focus {
    top: 0;
  }
  .container {
    width: 95%;
    background-image: url(../images/concrete_seamless.png);
    grid-template-columns: 25% 25% 25%;
    justify-content: space-around;
  }
  .container > figure {
    grid-column-start: span 2;
  }
  .container > figure:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: span 2;
  }
}

/* Problem 3 */
@media only screen and (min-width: 750px) {
  .container {
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
  }
  .container > figure:nth-child(even) {
    grid-column-start: 3;
  }
  .container > figure:last-child {
    grid-column-start: 2;
  }
}

/* Problem 4 */
@media only screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .container > figure {
    width: 20%;
    order: 0;
  }
  .container > figure:nth-child(2) {
    order: 1;
  }
  .container > figure:nth-child(4n) {
    border: solid 10px black;
    width: 40%;
  }
}

/* Problem 5 */
@media only screen and (min-width: 1050px) {
  .container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    justify-content: center;
  }
  .container > figure {
    width: 75%;
    margin: 0 auto 20px auto;
    grid-column-start: 1;
    transform: rotate(-15deg);
  }
  .container > figure:nth-child(even) {
    width: 75%;
    margin: 0 auto 20px auto;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: rotate(15deg);
  }
  .container > figure:nth-child(2) {
    order: 0;
  }
  .container > figure:nth-child(4n) {
    width: 75%;
    margin: 0 auto 20px auto;
  }
  .container > figure:last-child {
    grid-column-start: span 2;
    transform: rotate(0deg);
  }
}

/* Problem 6 */

@keyframes logoappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  animation: logoappear 10s;
}

@media (prefers-reduced-motion: reduce) {
  .logo {
    animation: none;
  }
}
